@import 'main.css';
@import 'navbar.css';
@import 'carousel.css';
@import 'navigation.css';

body {
    background: var(--primary-background);
    height: 120vh;
}

.header_preview {
    width: 100vw;
    height: 40%;
    position: absolute;
    top: 0;
    /* overflow: hidden; */
    background: url(https://occ-0-3832-3934.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABce14uRnxdx-V8HvEIAWGLE-HoAg3mlB1NltyK2YjvLnsaXhSY4xTIUMKvuw019qYduJIMu3uNG9WYaO8bh-jhXZ7-Td.jpg?r=808);
    background-position: right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header_preview .overlay {
    height: 100%;
    width: 100vw;
    position: absolute;
    background: linear-gradient(0deg, #1F1E30 0%, transparent 100%);
}

.header_preview .title {
    transform: scale(50%);

    z-index: 1;
}

.header_preview .description {
    color: var(--primary-color-text);
    z-index: 1;
    padding: 0 30px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 12px;
}

.netflix_button {
    z-index: 1;
    max-width: 100px;
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 15px;
    color: var(--primary-color-text);
    background: #E50914;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 0 30px;
}

.recomendados{
    width: 100%;
    height: 60vh;
    top: 40%;
    position: absolute;
}

.recomendados .title{
    color: var(--primary-color-text);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    margin: 30px 0 15px 30px;
}